# Results with Merged Dataset
Remember to use your new dataset, `combined_dataset.csv`

In [1]:
# load dataset
import pandas as pd
df = pd.read_csv('combined_dataset.csv')

### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?

In [3]:
model_mpg = df.groupby('model')['cmb_mpg_2008','cmb_mpg'].mean()

In [5]:
model_mpg.head(10)

                  cmb_mpg_2008    cmb_mpg
model
ACURA RDX            19.000000  22.500000
AUDI A3              23.333333  28.000000
AUDI A4              21.000000  27.000000
AUDI A6              19.666667  25.666667
AUDI A8 L            16.500000  22.000000
AUDI Q7              15.000000  21.000000
AUDI S4              15.500000  24.000000
AUDI S5              16.000000  24.000000
AUDI TT Coupe        21.666667  26.000000
AUDI TT Roadster     21.333333  26.000000

In [6]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg']-model_mpg['cmb_mpg_2008']

In [9]:
model_mpg.loc[model_mpg['mpg_change'].idxmax()]

cmb_mpg_2008    15.666667
cmb_mpg         32.200000
mpg_change      16.533333
Name: VOLVO XC 90, dtype: float64